<%-include("./partials/header")%>

<div class="container">
	
		<h2 style="margin-top:100px;"class="text-center">Insert the link of the post to be deleted below</h2>
		<div style="width:30%;margin:20px auto;">
			<form class="" method="POST" action="/user/<%=id%>/delete">
				<div class="form-group">
					<input class="form-control" type="text" name="link" placeholder="Link of the post">
				</div>
				<div class="form-group">
					<button class="btn btn-danger btn-block">Delete</button>
				</div>
			</form>
			<a href='/user/<%=id%>'>Go Back</a>
		</div>
</div>


<%-include("./partials/footer")%>
